# Mapbox Satellite Access Token
VITE_MAPBOX_TOKEN=pk.eyJ1IjoiYWpsYWFuOTkxOSIsImEiOiJjbXQ4dzV3NHowMWF1MndzaGJjeGdmaHYyIn0.ztQua4BZO5JbZanQqVrKWw

# FastAPI Backend API Base URL (Leave empty in local dev to use Vite proxy, or set to production URL)
VITE_BACKEND_URL=
